<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blog App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="container">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="title">Blog App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="card">
    <p>
      Ready to create your blog and vlog in daily life :)
    </p>
    <ion-button class="button" shape="round">start</ion-button>
  </div>
  <ion-img class="img" src="../../assets/images/flag.png"></ion-img>
</ion-content>